<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>
<div>
  名前:
  <%= f.text_field :name %>
</div><br/>
<div>
  内容:
  <%= f.text_area :body %>
<div>
  <%= f.submit class: "btn btn-sm btn-primary" %>
</div>
<% end %>
